# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Python caches
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# Chroma DB
finance_db/

# HuggingFace Cache
.cache/

# Generated cache
chunks_cache*.json

# Logs
*.log